
$primaryTextColor: black;
$secundaryTextColor: pink;

$fondoPrincipal: #ffc21a;

body{
  background: $fondoPrincipal;
  color: $primaryTextColor;
}

h1{
  color: $primaryTextColor;
}

h2{
  color: $secundaryTextColor;
}