
$primaryTextColor: black;
$secundaryTextColor: #000000;

$fondoPrincipal: rgb(255, 166, 0);

body{
  background: $fondoPrincipal;
  color: $primaryTextColor;
}

h1{
  color: $primaryTextColor;
}

h2{
  color: $secundaryTextColor;
}