@import "bootstrap/bootstrap.scss";
/*
$primaryTextColor: black;
$secundaryTextColor: #000000;
$fondoPrincipal: #a9f39f;
body {
  background: $fondoPrincipal;
  color: $primaryTextColor;
}

h1 {
  color: $primaryTextColor;
}

h2 {
  color: $secundaryTextColor;
}
*/