$primaryTextColor: black;
$secundaryTextColor: #000000;
$fondoPrincipal: #b85b5b;
body {
  background: $fondoPrincipal;
  color: $primaryTextColor;
}

h1 {
  color: $primaryTextColor;
}

h2 {
  color: $secundaryTextColor;
}