
$primaryTextColor: black;
$secundaryTextColor: #000000;

$fondoPrincipal: #71ff00;

body{
  background: $fondoPrincipal;
  color: $primaryTextColor;
}

h1{
  color: $primaryTextColor;
}

h2{
  color: $secundaryTextColor;
}